# OAuth/OIDC Provider
AUTH_ISSUER=http://localhost:8080/realms/dev
AUTH_CLIENT_ID=local
AUTH_CLIENT_SECRET=QAZKVBwuFROLVu9u64HwOfy65SR1Q7dD
AUTH_AUDIENCE=
AUTH_SCOPE=openid profile email
AUTH_CALLBACK_URL=http://localhost:4201/api/auth/callback

# Session
SESSION_SECRET=change-me-to-a-strong-random-secret
