name: Release

on:
  release:
    types: [created]

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build inject
        run: |
          npx nx build inject

      - name: Publish @analog-tools/inject
        working-directory: node_modules/@analog-tools/inject
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Build logger
        run: |
          npx nx build logger

      - name: Publish @analog-tools/logger
        working-directory: node_modules/@analog-tools/logger
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Build session
        run: |
          npx nx build session
          npx nx build auth

      - name: Publish @analog-tools/session
        working-directory: node_modules/@analog-tools/session
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Build auth
        run: |
          npx nx build auth

      - name: Publish @analog-tools/auth
        working-directory: node_modules/@analog-tools/auth
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Publish @analog-tools/generator
        working-directory: node_modules/@analog-tools/generator
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
