name: Release

on:
  release:
    types: [created]

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build and Publish @analog-tools/inject
        run: |
          npx nx build inject && \
          cd node_modules/@analog-tools/inject && \
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        continue-on-error: true

      - name: Build and Publish @analog-tools/logger
        run: |
          npx nx build logger && \
          cd node_modules/@analog-tools/logger && \
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        continue-on-error: true

      - name: Build and Publish @analog-tools/session
        run: |
          npx nx build session && \
          cd node_modules/@analog-tools/session && \
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        continue-on-error: true

      - name: Build and Publish @analog-tools/auth
        run: |
          npx nx build auth && \
          cd node_modules/@analog-tools/auth && \
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        continue-on-error: true

      - name: Build and Publish @analog-tools/generator
        run: |
          npx nx build generator && \
          cd node_modules/@analog-tools/generator && \
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        continue-on-error: true
